<h1>Sign up!</h1>

<form action="/users" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  
  <label>Username</label>
  <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
  <br>

  <label>Password</label>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Sign up!">
</form>
