@import 'bootstrap-sprockets';
@import 'bootstrap';

padding-bottom {
  padding-bottom: 5px;
}

.top-md-buffer {
  margin-top: 40px;
}

.top-sm-buffer {
  margin-top: 20px;
}
.cool-font {
  font-family: Georgia;
}

.blue-bottom {
  border-bottom: 2px solid cornflowerblue;
}
